<p id="notice"><%= notice %></p>
<center>
<h1>Manage your blog list</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.user.email.split('@')[0].titleize %></td>
        <td><%= blog.category.name.titleize %></td>
        <td><%= blog.title %></td>
        <td><%= image_tag blog.image, width: "150", height: "120" %></td>
        <td><%= blog.description %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Blog', new_blog_path %>
</center>